/*

@前面这一段是用作切换自定义主题或者背景
@暂未实现上述功能！

 */
.theme(@bgc,@bgc_d_1,@bgc_d_2,@lead_color1,@lead_color2,@lead_color3){
  .nav_title_blur{
    background-color: @bgc;
  }
  .dang{
    background: radial-gradient(@bgc_d_1,@bgc_d_2);
    &:before{
      border-left-color: @bgc_d_2;
    }
  }
  .lead_color1{
    background-color: @lead_color1;
  }
  .lead_color2{
    background-color: @lead_color2;
  }
  .lead_color3{
    background-color: @lead_color3;
  }
}
.theme-blue{
  @bgc: rgba(66, 76, 255, 0.31);
  @bgc_d_1: #f3eaff;
  @bgc_d_2: #cccaf0;
  @lead_color1: #f9bf69;
  @lead_color2: #23d619;
  @lead_color3: #ef6c68;
  .theme(@bgc,@bgc_d_1,@bgc_d_2,@lead_color1,@lead_color2,@lead_color3)
}
.theme-pink{
  @bgc: rgba(225,102,150,0.3);
  @bgc_d_1: #ffe0d3;
  @bgc_d_2: #F0C4AC;
  @lead_color1: #ff35f8;
  @lead_color2: #E58308;
  @lead_color3: #5992ff;
  .theme(@bgc,@bgc_d_1,@bgc_d_2,@lead_color1,@lead_color2,@lead_color3)
}
/*

@这一段是初始化页面整体
@设定默认设置

 */
h1,h2,h3,h4,h5,h6,body,hr,p,dl,dt,dd,ul,ol,lo,form,fieldset,legend,
button,input,textarea,th,td,img,figure{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a{
  color: #5d5d5d;
  text-decoration: none;
}
a:hover{
  color: #cc2828;
}
ul,
ol {
  list-style: none;
}
body {
  margin: 0 auto;
  color: #5d5d5d;
  font-size: 12px;
  font-family: microsoft yahei, 微软雅黑, serif;
}
img {
  border: none;
}
.clearfix:after {
  display: block;
  height: 0;
  visibility: hidden;
  content: ".";
  clear: both;
}

/*

@响应式布局关键
@顶部导航栏响应全局使用

 */
.respond_t(@nav_title_height , @font_lead , @banner_zoom_with , @banner_zoom_margin){
  //遮挡效果
  .dang{
    height: @nav_title_height;
    line-height: @nav_title_height;
    &:before{
      border: @nav_title_height/2 solid transparent;
      margin-top: -@nav_title_height/2;
    }
  }
  .dang_gif{
    height: @nav_title_height;
  }
  .title{
    height: @nav_title_height;
  }

  //导航栏
  .nav_title,.nav_title_blur{
    height: @nav_title_height;
    line-height: @nav_title_height - 6px;
  }

  .nav_lead{
    font-size: @font_lead;
    li{
      .nav_lead_bgc{
        line-height: @nav_title_height;
      }
      transform: translateY(3px - @nav_title_height);
      &:hover{
        transform: translateY(0);
      }
    }
  }

  .banner_zoom{
    width: @banner_zoom_with ;
    left: @banner_zoom_margin ;
  }
}

@media (max-width: 400px) {
  @nav_title_height: 26px;
  @font_lead: 14px;
  @banner_zoom_with: 160%;
  @banner_zoom_margin: -30%;
  .respond_t(@nav_title_height,@font_lead,@banner_zoom_with,@banner_zoom_margin);
}

@media (min-width: 400px) and (max-width: 800px) {
  @nav_title_height: 36px;
  @font_lead: 16px;
  @banner_zoom_with: 130%;
  @banner_zoom_margin: -15%;
  .respond_t(@nav_title_height,@font_lead,@banner_zoom_with,@banner_zoom_margin);
}

@media (min-width: 800px) {
  @nav_title_height: 46px;
  @font_lead: 18px;
  @banner_zoom_with: 100%;
  @banner_zoom_margin: 0%;
  .respond_t(@nav_title_height,@font_lead,@banner_zoom_with,@banner_zoom_margin);
}

