/*

@前面这一段是用作切换自定义主题或者背景
@暂未实现上述功能！

 */
.theme(@bgc,@bgc_d_1,@bgc_d_2,@lead_color1,@lead_color2,@lead_color3){
  .nav_title_blur{
    background-color: @bgc;
  }
  .dang{
    background: radial-gradient(@bgc_d_1,@bgc_d_2);
    &:before{
      border-left-color: @bgc_d_2;
    }
  }
  .lead_color1{
    background-color: @lead_color1;
  }
  .lead_color2{
    background-color: @lead_color2;
  }
  .lead_color3{
    background-color: @lead_color3;
  }
}
.theme-blue{
  @bgc: rgba(66, 76, 255, 0.31);
  @bgc_d_1: #f3eaff;
  @bgc_d_2: #cccaf0;
  @lead_color1: #f9bf69;
  @lead_color2: #23d619;
  @lead_color3: #ef6c68;
  .theme(@bgc,@bgc_d_1,@bgc_d_2,@lead_color1,@lead_color2,@lead_color3)
}
.theme-pink{
  @bgc: rgba(225,102,150,0.3);
  @bgc_d_1: #ffe0d3;
  @bgc_d_2: #F0C4AC;
  @lead_color1: #ff35f8;
  @lead_color2: #E58308;
  @lead_color3: #5992ff;
  .theme(@bgc,@bgc_d_1,@bgc_d_2,@lead_color1,@lead_color2,@lead_color3)
}
/*

@这一段是初始化页面整体
@设定默认设置

 */
h1,h2,h3,h4,h5,h6,body,hr,p,dl,dt,dd,ul,ol,lo,form,fieldset,legend,
button,input,textarea,th,td,img,figure{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a{
  color: #5d5d5d;
  text-decoration: none;
}
a:hover{
  color: #cc2828;
}
ul,
ol {
  list-style: none;
}
body {
  margin: 0 auto;
  color: #5d5d5d;
  font-size: 12px;
  font-family: microsoft yahei, 微软雅黑, serif;
}
img {
  border: none;
}
.clearfix:after {
  display: block;
  height: 0;
  visibility: hidden;
  content: ".";
  clear: both;
}
.pointer{
  cursor: pointer;
}

/*

@响应式布局关键
@顶部导航栏响应全局使用

 */
.respond_t(@nav_login_right,@nav_tithl_log_left,@nav_lead_width,@nav_title_height , @font_lead , @banner_zoom_with , @banner_zoom_margin){
  //遮挡效果
  .dang{
    height: @nav_title_height;
    line-height: @nav_title_height;
    &:before{
      border: @nav_title_height/2 solid transparent;
      margin-top: -@nav_title_height/2;
    }
  }
  .dang_gif{
    height: @nav_title_height;
  }
  .title{
    height: @nav_title_height;
  }
  .login_banner{
    top: @nav_title_height;
    height: calc( 100% -  @nav_title_height);
  }
  .wdui_center{
    margin-top: @nav_title_height;
    min-height: calc( 100% -  @nav_title_height - 150px );
  }

  //导航栏
  .nav_title,.nav_title_blur,.no_show{
    height: @nav_title_height;
    line-height: @nav_title_height - 6px;
  }

  .nav_lead{
    font-size: @font_lead;
    width: @nav_lead_width;
    right: 20%;
    li{
      .nav_lead_bgc{
        line-height: @nav_title_height;
      }
      transform: translateY(3px - @nav_title_height);
      &:hover{
        transform: translateY(0);
      }
    }
  }

  .nav_login{
    width: @nav_lead_width/3;
    right: @nav_login_right;
  }

  .nav_tithl_log{
    left: @nav_tithl_log_left;
  }

  .banner_zoom{
    width: @banner_zoom_with ;
    left: @banner_zoom_margin ;
  }
}

@media(max-width: 570px) {
  .each_img_cla{
    width: 150px;
    height: 150px;
    line-height: 150px;
  }
  .banner_run{
    width: 1800px !important;
    height: 1800px !important;
    top: calc(~"(-1800px + 200%)/2") !important;
    left: calc(~"(-1800px + 100%)/2") !important;
  }
  .banner_font{
    left: 8% !important;
    right: 0 !important;
    top: 30px !important;
    bottom: auto !important;
    width: 70% !important;
  }
  .icon_down{
    width: 35% !important;
  }
  .move_dang{
    right: 20% !important;
  }
  .wdui_echarts{
    height: 500px;
  }
  .wdui_table{
    width: 100%;
  }
  .wdui_form , .wdui_echarts{
    width: 100%;
    margin-bottom: 20px;
    ul{
      .li_hover{
        width: 70px;
        height: 70px;
        margin: 7px;
        &:hover{
          transform: translateY(-5px);
          box-shadow: 0 2.5px 2.5px 2.5px #9f9f9f;
        }
        .small_show_font{
          line-height: 70px;
          font-size: 14px;
        }
      }
    }
  }
  .wdui_center{
    width: 100%;
  }
  .view_foot_p1{
    font-size: 16px !important;
  }
  .view_foot_p2{
    font-size: 12px !important;
  }
  .view_foot_img{
    margin-top: 15px !important;
    height: 25px !important;
    a{
      margin-right: 5px !important;
      img{
        width: 25px !important;
        height: 100% !important;
      }
    }
  }
  .show_big_center{
    flex-wrap: wrap;
    .show_big_pic{
      height: 50%;
    }
    .show_big_form{
      height: 50%;
      .show_big_gif{
        right: -3% !important;
        bottom: 0 !important;
        .show_gif_1{
          width: 150px !important;
        }
      }
    }
  }
  @nav_login_right: 2%;
  @nav_tithl_log_left: 5%;
  @nav_lead_width: 200px;
  @nav_title_height: 22px;
  @font_lead: 12px;
  @banner_zoom_with: 260%;
  @banner_zoom_margin: -90%;
  .respond_t(@nav_login_right,@nav_tithl_log_left,@nav_lead_width,@nav_title_height,@font_lead,@banner_zoom_with,@banner_zoom_margin);
}

@media (min-width: 570px) and (max-width: 800px) {
  .each_img_cla{
    width: 200px;
    height: 200px;
    line-height: 200px;
  }
  .icon_down{
    width: 18% !important;
  }
  .wdui_echarts{
    height: 650px;
  }
  .wdui_table{
    width: 96%;
    margin: 10px;
  }
  .wdui_form , .wdui_echarts{
    width: 96%;
    margin: 10px;
    ul{
      .li_hover{
        width: 90px;
        height: 90px;
        margin: 9px;
        &:hover{
          transform: translateY(-7px);
          box-shadow: 0 2.5px 2.5px 2.5px #9f9f9f;
        }
        .small_show_font{
          line-height: 90px;
          font-size: 16px;
        }
      }
    }
  }
  .wdui_center{
    width: 96%;
  }
  .view_foot_p1{
    font-size: 18px !important;
  }
  .view_foot_p2{
    font-size: 14px !important;
  }
  .view_foot_img{
    margin-top: 15px !important;
    height: 25px !important;
    a{
      margin-right: 10px !important;
      img{
        width: 25px !important;
        height: 100% !important;
      }
    }
  }
  .show_big_center{
    flex-wrap: wrap;
    .show_big_pic{
      height: 50%;
    }
    .show_big_form{
      height: 50%;
      .show_big_gif{
        right: -3% !important;
        bottom: 0 !important;
        .show_gif_1{
          width: 200px !important;
        }
      }
    }
  }
  @nav_login_right: 3%;
  @nav_tithl_log_left: 9%;
  @nav_lead_width: 270px;
  @nav_title_height: 26px;
  @font_lead: 14px;
  @banner_zoom_with: 180%;
  @banner_zoom_margin: -50%;
  .respond_t(@nav_login_right,@nav_tithl_log_left,@nav_lead_width,@nav_title_height,@font_lead,@banner_zoom_with,@banner_zoom_margin);
}

@media (min-width: 800px) and (max-width: 1200px) {
  .each_img_cla{
    width: 150px;
    height: 150px;
    line-height: 150px;
  }
  .icon_down{
    width: 12% !important;
  }
  .wdui_echarts{
    height: 700px;
  }
  .wdui_table{
    width: 700px;
    margin: 10px;
  }
  .wdui_form , .wdui_echarts{
    width: 700px;
    margin: 20px;
    ul{
      .li_hover{
        width: 100px;
        height: 100px;
        margin: 10px;
        &:hover{
          transform: translateY(-7.5px);
          box-shadow: 0 2.5px 2.5px 2.5px #9f9f9f;
        }
        .small_show_font{
          line-height: 100px;
          font-size: 18px;
        }
      }
    }
  }
  .wdui_center{
    width: 800px;
  }
  @nav_login_right: 4%;
  @nav_tithl_log_left: 12%;
  @nav_lead_width: 400px;
  @nav_title_height: 36px;
  @font_lead: 16px;
  @banner_zoom_with: 140%;
  @banner_zoom_margin: -20%;
  .respond_t(@nav_login_right,@nav_tithl_log_left,@nav_lead_width,@nav_title_height,@font_lead,@banner_zoom_with,@banner_zoom_margin);
}

@media (min-width: 1200px) {
  .each_img_cla{
    width: 200px;
    height: 200px;
    line-height: 200px;
  }
  .wdui_echarts{
    height: 700px;
  }
  .wdui_table{
    width: 700px;
    margin: 10px;
  }
  .wdui_form , .wdui_echarts{
    width: 700px;
    margin: 20px;
    ul{
      .li_hover{
        width: 115px;
        height: 115px;
        margin: 11px;
        &:hover{
          transform: translateY(-8.5px);
          box-shadow: 0 3px 3px 3px #9f9f9f;
        }
        .small_show_font{
          line-height: 115px;
          font-size: 20px;
        }
        .big_show_div{
          .out_point{
            width: 30px !important;
            height: 30px !important;
          }
          .show_big_head{
            height: 50px !important;
            img{
              height: 40px !important;
              width: 40px !important;
            }
            p{
              line-height: 50px !important;
            }
          }
          .show_big_center{
            height: calc(100% - 60px) !important;
          }
        }
      }
    }
  }
  .wdui_center{
    width: 960px;
  }
  @nav_login_right: 5%;
  @nav_tithl_log_left: 15%;
  @nav_lead_width: 570px;
  @nav_title_height: 46px;
  @font_lead: 18px;
  @banner_zoom_with: 100%;
  @banner_zoom_margin: 0%;
  .respond_t(@nav_login_right,@nav_tithl_log_left,@nav_lead_width,@nav_title_height,@font_lead,@banner_zoom_with,@banner_zoom_margin);
}
@media (min-width: 1700px) {
  .each_img_cla{
    width: 250px;
    height: 250px;
    line-height: 250px;
  }
  .wdui_echarts{
    height: 727px;
  }
  .wdui_table{
    width: 1440px;
    margin: 10px;
  }
  .wdui_form , .wdui_echarts{
    width: 700px;
    margin: 20px;
    ul{
      .li_hover{
        width: 115px;
        height: 115px;
        margin: 11px;
        &:hover{
          transform: translateY(-8.5px);
          box-shadow: 0 3px 3px 3px #9f9f9f;
        }
        .small_show_font{
          line-height: 115px;
          font-size: 20px;
        }
        .big_show_div{
          .out_point{
            width: 30px !important;
            height: 30px !important;
          }
          .show_big_head{
            height: 50px !important;
            img{
              height: 40px !important;
              width: 40px !important;
            }
            p{
              line-height: 50px !important;
            }
          }
          .show_big_center{
            height: calc(100% - 60px) !important;
          }
        }
      }
    }
  }
  .wdui_center{
    width: 1600px;
  }
}
/*

ElementUI样式修改！

 */
.el-message-box{
  width: 300px;
}
.el-tooltip__popper.is-light{
  border: 1px solid #ffc3df;
}
.mt15{
  margin-top: 15px;
}
